* { 
  box-sizing: border-box;
}

:root {
  --bg: color-mix(in srgb, #808, black);
  --fg: white;
  background: black;
}

body {
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--fg);
  margin: 0 auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  max-width: 600px;

  & media-player {
    flex: 1;
  }
}

input[type="file"] {
  position: absolute;
  left: -1000px;

  & + label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 8px;
    text-transform: uppercase;

    & svg {
      height: 16px;
      width: 16px;
    }
  }
}

